
  <div class="api-explorer">
    <div class="query">
    </div>
    <div class="explorer">
<div class="api-explorer-form">
  <textarea class="form-control api-explorer-query-csl autosize" rows="1" >&q=chemical</textarea>
  
  <button class="btn go pull-left" type="button">Run query</button>
</div>
<div class="return">
  <div class="response api-explorer-section">
    <pre><span class="default">Add Search Parameters and click "Run query" to see results.</span></pre>
  </div>
</div>
    </div>
  </div>
  
  