      </section>
     
	  </div>

    
    <footer>
      <div id="footerdivider">
					<div></br></br><a href="http://trade.gov/feedback.asp">Website Feedback</a> | <a href="http://www.usa.gov">USA.gov</a> | <a href="http://trade.gov/foia">FOIA</a>  | <a href="http://trade.gov/privacy.asp">Privacy Policy</a>  | <a href="http://trade.gov/endorse.asp">Disclaimer</a>  |
                    <a href="http://trade.gov/ITAiqs.pdf">Information Quality Guidelines</a>
                    </div>
					</div>
                    <div class="disclamier">
                    <p>The <a href="http://www.trade.gov">International Trade Administration</a>, <a href="http://www.commerce.gov">U.S.
                    Department of Commerce</a>, manages this global trade site to provide access to ITA information on promoting trade and investment, strengthening
                    the competitiveness of U.S. industry, and ensuring fair trade and compliance with trade laws and agreements. External links to other Internet
                    sites should not be construed as an endorsement of the views or privacy policies contained therein.</p></div>
					</div>
			
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    </div>
  </body>
</html>

