<h2>Applications Currently Using ITA's Data</h2>

<div class="jumbotron">
  <div class="container">

    <a href="http://www.thinkglobal.com/exusa"><img src="images/thinkglobal2.png" alt="thinkglobal"></a>

<strong>ThinkGlobal</strong>, a B2B trade leads platform, helps U.S. exporters find overseas buyers and distributors. ThinkGlobal has developed  an *Export Resources* app for both <a href="https://play.google.com/store/apps/details?id=com.thinkglobal.trade&hl=en">Android</a> and <a href="https://itunes.apple.com/us/app/export-resources/id924508501?mt=8">Apple iOS</a> devices. The mobile apps and <a href="http://www.thinkglobal.com/exusa">the Export USA magazine home page</a> provide Trade Resources for U.S. companies by displaying the most current <a href="http://www.thinkglobal.com/trade_resources/trade_leads">Trade Leads</a>, <a href="http://www.thinkglobal.com/trade_resources/trade_articles">Trade News</a>, and <a href="http://www.thinkglobal.com/trade_resources/trade_events">Trade Events</a> from ITA.

  </div>
</div>

<div class="jumbotron">
  <div class="container">

    <a href="https://smallbusiness.fedex.com/international/export-education.html"><img src="images/fedex.png" alt="fedex"></a>

<strong>FedEx</strong> has just updated its Small Business Center and includes ITA's <a href="trade-events.html">Trade Events</a> in its <a href="https://smallbusiness.fedex.com/international/export-education.html">Export Education Events</a> pages. Now it’s easier than ever to find the specific knowledge a business needs to go global more strategically and successfully. Through FedEx's export education program, get a direct connection to many practical and insightful export-specific educational programs throughout the year, offered across the U.S.

  </div>
</div>

<h2>Case Studies</h2>

<div class="jumbotron">
  <div class="container">

    <img src="images/wpg.png" alt="wpg" >

<strong>WebPort Global (WPG)</strong> is an online platform for businesses that offers access to a global network of business-focused people, knowledge, and opportunities. Members easily connect and collaborate with trusted peers who share complementary commercial interests.

Read the <a href="documents/WebPort_Global_Case_Study.pdf">case study</strong> to learn how WPG staff uses ITA's APIs to improve their hands-on customer service all while improving their online resources.

  </div>
</div>
