<header id="full">
  <h3>API Key</h3>
  <p class="view"><a class="{{ current }}" href="{{ site.webservices_baseurl_users_signup }}">Get an API Key</a></p>
  <p class="view"><a class="{{ current }}" href="{{ site.webservices_baseurl }}">Manage Your API Key</a></p>
  <h3>Top APIs</h3>
  {% for link in site.left_nav_top_apis %}
    <p class="view"><a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a></p>
  {% endfor %}
  <h3>API Resources</h3>
  {% for link in site.left_nav_api_resources %}
    <p class="view"><a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a></p>
  {% endfor %}
  </p>
</header>
