<header>
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/trade_url_white2.png" width="210" alt="logo"></a>
  <br/><br/>
  <h3>Available APIs</h3>
  <p class="view"><a href="{{ site.baseurl }}/market-research-library.html">Market Research Library</a></p>
  <p class="view"><a href="{{ site.baseurl }}/consolidated-screening-list.html">Consolidated Screening List</a></p>
  <p class="view"><a href="{{ site.baseurl }}/trade-events.html">Trade Events</a></p>
  <p class="view"><a href="{{ site.baseurl }}/trade-leads.html">Trade Leads</a></p>
  <p class="view"><a href="{{ site.baseurl }}/ita-office-locations.html">ITA Offices & Centers</a></p>
  <p class="view"><a href="{{ site.baseurl }}/ita-trade-articles.html">Trade News & Articles</a></p>
  <p class="view"><a href="{{ site.baseurl }}/ita-faqs.html">Trade FAQs</a></p>
  <p class="view"><a href="{{ site.baseurl }}/tariff-rates.html">Tariff Rates</a></p>
  <p class="view"><a href="{{ site.baseurl }}/ccg.html">Country Commercial Guides</a></p>
  <br/>
  <h3>Additional Resources</h3>
  <p class="view"><a href="{{ site.baseurl }}/guidance.html">Guidance</a></p>
  <p class="view"><a href="{{ site.baseurl }}/app-gallery.html">App Gallery</a></p>
  <p class="view"><a href="{{ site.baseurl }}/faq.html">About Our APIs</a></p>
  <p class="view"><a href="{{ site.baseurl }}/change-log.html">Change Log</a></p>
  <p class="view"><a href="{{ site.baseurl }}/tos.html">Terms of Service</a></p>
  <p class="view"><a href="{{ site.baseurl }}/contact-us.html">Contact Us</a></p>
</header>
