  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} | Trade.gov Developer Portal</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/tabs.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/query.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/iframe.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-27059663-3', 'trade.gov');
      ga('send', 'pageview');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    {% for css_asset in page.remote_css_assets %}
    <link rel="stylesheet" href="{{ css_asset }}">
    {% endfor %}

    {% for css_asset in page.css_assets %}
    <link rel="stylesheet" href="{{ site.baseurl }}{{ css_asset }}">
    {% endfor %}
<script type="text/javascript">

  url = "developer.export.gov";

  msg="<p>NOTICE: Due to a lapse in federal funding, this website is not being updated. 
<a href='https://www.commerce.gov' title='https://www.commerce.gov'>Learn more.
usa.gov</a>.</p>",window.onload=function(){document.body.innerHTML+="<div id='bs'><div>"+msg+"<a href='#' title='Close' id='bs_close'>Continue to "+url+" »</a></div></div>"},document.onclick=function(n){"bs"!=n.target.id&&"bs_close"!=n.target.id||(bs.style.display="none")};</script>
<style media="screen">#bs{background:#000;opacity:.8;width:100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0}#bs div{position:absolute;top:1.5em;left:0;right:0;margin:0 auto;padding:2em 2em 2.5em;background:#fff;width:90%;box-sizing:border-box;color:#000;font-family:Helvetica,Arial,sans-serif}#bs span{background:#FFC116}#bs a{color:blue}#bs_close{margin-top:15px;padding:10px 15px;border:2px solid blue;display:inline-block;font-weight:700}#bs p{margin-top:0;font-size:24px;line-height:30px}#bs .bs_usa{font-size:18px;line-height:24px}@media only screen and (min-width: 600px){#bs div{padding:2.5em 2.5em 3em;top:5em;width:600px}}</style>
</head>
