<script type='text/javascript'>
$(function () {
  var url = window.location.search.match(/url=([^&]+)/);
  if (url && url.length > 1) {
    url = decodeURIComponent(url[1]);
  } else {
    url = "{{ site.baseurl }}/api/market-research-library.json";
  }
  var swaggerUi = new SwaggerUi({
    url: url,
    dom_id: "swagger-ui-container",
    supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
    onComplete: function(swaggerApi, swaggerUi){
      var key = 'Jnl2JctPOiUL9x7HVFR2m8Sr';
      var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("api_key", key, "query");
      swaggerUi.api.clientAuthorizations.add("key", apiKeyAuth);
    },
    onFailure: function(data) {
      log("Unable to Load SwaggerUI");
    },
    docExpansion: "none",
    sorter : "alpha"
  });



  swaggerUi.load();

  function log() {
    if ('console' in window) {
      console.log.apply(console, arguments);
    }
  }
});
</script>

<body class="swagger-section">
<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>