<div id='top-bar'>
  <form class="taxonomy-search-form">
    <input type="text" id="query">
    <input type="submit" value="Search">
  </form>
</div>

<div class="view">
  <h2><%- label %></h2>

  <h3>Term Information</h3>
    <ul>
      <% _.each(annotations, function(object) { %>
        <% _.each(object, function(value, key) { %>
          <li> <b><%= key %></b>:  <%= value %> </a> </li>
        <% }); %>
      <% }); %>
    </ul>

  <h3>Term Relationships</h3>
    <% _.each(object_properties, function(object) { %>
      <% _.each(object, function(value, key) { %>
        <h4><%= key %>:</h4>
        <ul>
          <% _.each(value, function(property) { %>
            <li><a href=<%= '#' + property.id %> > <%= property.label %> </a></li>
          <% }); %>
        </ul>
      <% }); %>
    <% }); %>

  <h4>For Developers</h4>
    <button data-toggle="collapse" data-target="#json-collapsible">JSON</button>
    <button onclick="downloadTerms()">Download Taxonomy</button>

  <div id="json-collapsible" class="collapse">
    <pre class='json'><%= JSON.stringify(obj, undefined, 4) %></pre>
  </div>

</div>
