<div class="tabs">

<input checked="checked" id="step1radio" name="radio" type="radio" /><label class="first" for="step1radio"><img src="{{ site.baseurl }}/images/background.png" alt="background">Background</label>
<input id="step2radio" name="radio" type="radio" /><label class="first" for="step2radio"><img src="{{ site.baseurl }}/images/why.png" alt="why">Why This Data Matters</label>
<input id="step3radio" name="radio" type="radio" /><label class="last" for="step3radio"><img src="{{ site.baseurl }}/images/ideas.png" alt="ideas">Ideas for Using the Data</label>

  <div class="pane" id="step1">
    <p>
      The Market Research Library API provides metadata for country and industry reports that
       are produced by ITA’s trade experts. ITA commercial officers that are stationed around 
       the world, publish these authoritative reports in conjunction with Foreign Service officers 
       from the State Department.
    </p>
    <p>
      The API only provides the metadata and links to the reports – not the reports themselves. 
      The output format for this API is JSON. This data set is updated daily.
       Be sure to <a href="http://api.trade.gov/">sign up for an API key</a> to get access to the API.
    </p>
  </div>
  <div class="pane" id="step2">
    <p>
      U.S. businesses can use these reports to plan their market-entry the right way. The reports 
      help them learn their product’s potential in a given market and the best prospects for success.
    </p>
    <p>
      There are two report types available and they are categorized by country and industry:
    </p>
    <ol>
      <li> Country Commercial Guides </li>
      <li> Market Insight Reports </li>
    </ol>

  </div>
  <div class="pane" id="step3">
    <p>
      Use these reports to augment other market intelligence that you use internally or provide for 
      your customers. You can use the search tags to pull only the country, region, and industry 
      information that you are interested in. The API also provides the publish dates so you can to 
      use the last_published_date field to order the information display with the most recent updates on top.
    </p>
  </div>

</div>