body {
background-color:#C0C0C0;
margin:0;
background-repeat:repeat-x;
background-position:center top;
}



#box1 {
width:980px;
height:90px;
background:#fff;
-moz-box-shadow: inset -1px -5px 5px #888;
-webkit-box-shadow: inset -1px -5px 5px #888;
box-shadow: inset -1px -5px 5px #888;
background-position:right top;
margin-left:auto;
margin-right:auto;
margin-top:auto;
padding:auto;
}

#box2 {
width:980px;
height:-10px;
background:#fff;
background-position:center;
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:100px;
padding:auto;
}

#leftnav_wrapper li
{
	list-style-type: none;
	font-weight:bold;
	color: #707070;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#leftnav_wrapper li ul li a
{
	text-decoration: none;
	color: #707070;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
	
#leftnav_wrapper li ul li
{
	list-style-type: none;
	font-weight: bold;
	color: #707070;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 23px;
	margin-left: -30px;
	padding-bottom: 10px;
}


