body {
background-color:#051854;
background-image:url('../images/globe3.jpg');
background-position:center top;
background-attachment:fixed;
}

#container{
background:#fff;
width:980px;
min-height:700px;
margin-left:auto;
margin-right:auto;
margin-top:25px;
margin-bottom:25px;
padding:auto;
}

#leftnav_wrapper li
{
	list-style-type: none;
	font-weight:bold;
	color: #0851ab;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	
}

#leftnav_wrapper li ul li a
{
	text-decoration: none;
	color: #777777;
	font-size: 13px;
	padding: 3px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
}
	
#leftnav_wrapper li ul li
{
	list-style-type: none;
	
	color: #777777;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;
	margin-left: -30px;
	padding-bottom: 10px;
	display:block;
}

#leftnav_wrapper a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#fff;
padding: 3px;
background-color:#0851ab;
display:block;
}

.grow img {
 
  height: 180px;
  width: 180px;
  padding:0px;
  margin-left:25px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 180px;
  height: 180px;
}

#footer {
width:955px;
height:750px;
margin:0 auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
color:#686868;
}



#footerdivider {
width:722px;
margin:0 auto;
clear:both;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#b3b2b2;
text-align:center;
padding-bottom:25px;
}

.disclamier {
width:700px;
margin:0 auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#b3b2b2;
padding-bottom:25px;
}

.disclamier a{
text-decoration:underline;
color:#b3b2b2;
}

.disclamier a:hover{
text-decoration:none;
color:#b3b2b2;
}

#footerdivider a{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#b3b2b2;
text-align:center;
text-decoration:none;
}

#footerdivider a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#b3b2b2;
text-align:center;
text-decoration:underline;
}

.footerdivideotitle {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
color:#b3b2b2;
text-align:center;
font-weight:lighter;
padding-top:25px;
}

