/* CSS Document */

body {
background-color:#051854;
margin:0;
}

#banner {
width:980px;
height: 100px;
background:#fff;
margin:0 auto;
padding:auto;
box-shadow: inset 0px 0px 8px 3px rgba(119, 119, 119, 0.75);
-moz-box-shadow: inset 0px 0px 8px 3px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: inset 0px 0px 8px 3px rgba(119, 119, 119, 0.75);
}


#wrapper {
width:980px;
background:#fff;
margin:0 auto;
padding:auto;
box-shadow: inset 0px 0px 8px 3px rgba(119, 119, 119, 0.75);
-moz-box-shadow: inset 0px 0px 8px 3px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: inset 0px 0px 8px 3px rgba(119, 119, 119, 0.75);
}

#main {
width: 980px; 
height: 700px;"
}

/*Main nav bar*/
.navbar:before,
.navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar {
    *zoom: 1;
}

nav {
	height: 40px;
	width: 100%;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 9%, #001451 100%, #4a4b4f 100%, #4a4b4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#1e5799), color-stop(100%,#001451), color-stop(100%,#4a4b4f), color-stop(100%,#4a4b4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4a4b4f',GradientType=0 ); /* IE6-9 */
	font-size: 9pt;
	font-family: Georgia, "Times New Roman", Times, serif;
	position: relative;
	border-bottom: 1px solid #051854;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: auto;
	height: auto;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background: #d6d4d4; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiNkNmQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmNmOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #d6d4d4 24%, #fcf9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#d6d4d4), color-stop(100%,#fcf9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d6d4d4 24%,#fcf9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d6d4d4 24%,#fcf9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d6d4d4 24%,#fcf9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d6d4d4 24%,#fcf9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d4d4', endColorstr='#fcf9f9',GradientType=0 ); /* IE6-8 */
	color:#051854;
}
nav a#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
}
	nav ul {
		display: none;
		height: auto;
}
	nav a#pull {
		display: block;
		background: #1e5799; /* Old browsers */
		background: -moz-linear-gradient(top, #1e5799 9%, #001451 100%, #4a4b4f 100%, #4a4b4f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#1e5799), color-stop(100%,#001451), color-stop(100%,#4a4b4f), color-stop(100%,#4a4b4f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* IE10+ */
		background: linear-gradient(to bottom, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4a4b4f',GradientType=0 ); /* IE6-9 */
		width: 100%;
		position: relative;
}
	nav a#pull:after {
		content:"";
			background: #1e5799; /* Old browsers */
		background: -moz-linear-gradient(top, #1e5799 9%, #001451 100%, #4a4b4f 100%, #4a4b4f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,#1e5799), color-stop(100%,#001451), color-stop(100%,#4a4b4f), color-stop(100%,#4a4b4f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* IE10+ */
		background: linear-gradient(to bottom, #1e5799 9%,#001451 100%,#4a4b4f 100%,#4a4b4f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#4a4b4f',GradientType=0 ); /* IE6-9 */
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
}
nav a#pull:hover, nav a:active {
	background: #d6d4d4; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiNkNmQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmNmOWY5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #d6d4d4 24%, #fcf9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#d6d4d4), color-stop(100%,#fcf9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d6d4d4 24%,#fcf9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d6d4d4 24%,#fcf9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d6d4d4 24%,#fcf9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d6d4d4 24%,#fcf9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d4d4', endColorstr='#fcf9f9',GradientType=0 ); /* IE6-8 */
	color:#051854;
}
/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

/*Footer*/
#foot{
width: 980px;
}
