/* CSS Document */

body {
background-color:#051854;
margin:0;
background-image:url('http://trade.gov/images/bg_body.jpg');
background-repeat:repeat-x;
background-position:center top;
}

#box1 {
width:980px;
height:125px;
background:#fff;
background-position:center;
margin-left:auto;
margin-right:auto;
margin-top:25px;
margin-bottom:50px;
padding:auto;
}

#trade {
width: 700px; 
height: 120px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:30px; 
font-weight:bold;
color:#000099;
padding:30px 0px 0px 30px;
}

#data {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
font-style:italic;
padding:0px 0px 0px 30px; 
margin-top:-70px; 
margin-left:10px;
}


#box4 {
width:980px;
height:90px;
background:#fff;
background-position:center;
margin-left:auto;
margin-right:auto;
margin-top:-65px;
margin-bottom:50px;
padding:auto;
}


#box2 {
width:980px;
height:700px;
background:#fff;
background-position:center;
margin-left:auto;
margin-right:auto;
margin-top:-50px;
margin-bottom:50px;
padding:auto;
}

#box3 {
width:980px;
height:160px;
background:#fff;
background-position:center;
margin-left:auto;
margin-right:auto;
margin-top:-50px;
margin-bottom:20px;
padding:auto;
}



#footer {
width:955px;
height:750px;
margin:0 auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
color:#686868;
}



#footerdivider {
width:722px;
margin:0 auto;
clear:both;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#b3b2b2;
text-align:center;
padding-bottom:25px;
}

.disclamier {
width:700px;
margin:0 auto;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#b3b2b2;
padding-bottom:25px;
}

.disclamier a{
text-decoration:underline;
color:#b3b2b2;
}

.disclamier a:hover{
text-decoration:none;
color:#b3b2b2;
}

#footerdivider a{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#b3b2b2;
text-align:center;
text-decoration:none;
}

#footerdivider a:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#b3b2b2;
text-align:center;
text-decoration:underline;
}

.footerdivideotitle {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:24px;
color:#b3b2b2;
text-align:center;
font-weight:lighter;
padding-top:25px;
}

