body {
background-color:#F0F0F0;
margin:0;
background-repeat:repeat-x;
background-position:center top;
}



#box1 {
width:980px;
height:125px;
background:#fff;
background-image:url('http://utahpoliticalcapitol.com/wp-content/uploads/2013/01/american-flag-banner.jpg');
background-repeat:no-repeat;
background-position:right top;
margin-left:auto;
margin-right:auto;
margin-top:auto;
padding:auto;
}

#box2 {
width:980px;
height:auto;
background:#fff;
background-position:center;
margin-left:auto;
margin-right:auto;
margin-top:20px;
margin-bottom:50px;
padding:auto;
}

#leftnav_wrapper li
{
	list-style-type: none;
	font-weight:bold;
	color: #000000;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#leftnav_wrapper li ul li a
{
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
	
#leftnav_wrapper li ul li
{
	list-style-type: none;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 23px;
	margin-left: -30px;
	padding-bottom: 10px;
}
