@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font: 16px/1.4 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #535353;
  font-weight: 300;
  background: #f6f9fa;
  padding: 0;
  margin: 0;
}

em {
 color:#999;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 10px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 30px;
  line-height: 1.5;
  color: #0851ab;
}

h7 {
  font-size: 12px;
}

h2 {
  font-size: 18px;
  color: #535353;
  border-bottom: 1px solid #e5e5e5;
  border-width: 1px 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

h3, h4, h5, h6 {
  color: #494949;
}

h3 {
  font-size: 16px;
  color: #000;
}

h5 {
  font-size: 15px;
  color: red;
}

a {
  color: #494949;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a small {
  font-size: 11px;
  color: #535353;
  margin-top: -0.6em;
  display: block;
}

.wrapper {
  width: 1120px;
  margin: 0 auto;
  margin-top: 50px;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#info {
  display: inline-block;
  float: left;
  padding-right: 30px;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333;
  font-size: 14px;
}

pre {
  padding: 4px 8px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

td img {
  box-shadow: 3px 3px 2px #888888;
}

section img {
  padding: 2px;
  background: #fafafa;
  border: 1px solid #eee;
  display: inline-block;
  float: left;
  margin-right: 25px;
}

img a {
  border: none;
  outline: none;
}

header {
  width: 270px;
  float: left;
  position: absolute;
  margin-bottom: auto;
}

#home-title {
  padding-left: 40px;
}

header h3 {
  margin:15px 0;
}

header ul {
  list-style: none;
  height: 40px;

  padding: 0;

  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);

  border-radius: 5px;
  border: 1px solid #d2d2d2;
  box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
  width: 270px;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #d2d2d2;
  height: 10px;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 40px;
}

header p {
  margin-left: 20px;
  margin: 0 20px 5px;
}

.view a {
  color: #222;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */

a.current {
  color: #08C;
  font-weight: bold;
}

strong {
  color: #222;
  font-weight: 700;
}

header ul li + li {
  width: 88px;
  border-left: 1px solid #fff;
}

header ul li + li + li {
  border-right: none;
  width: 89px;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

section {
  width: 880px;
  float: right;
  padding: 30px 15px;
  background: #fff;
  border: 1px solid;
  border-color: #e7e7e7
}

section a {
  color: #08c;
  font-weight: normal;
}

section p a {
  color: #08c;
  font-weight: normal;
}

#body-content {
  padding: 0 25px;
}

#body-content h2 {
  margin-top:30px;
  margin-bottom:0;
  font-size: 32px;
  font-weight:300;
  line-height: 1.1;
  color: #000;
  border: 0;
}

#body-content h3 {
  margin-top:20px;
  margin-bottom:10px;
  font-size: 18px;
  font-weight:700;
  line-height: 1;
  color: #808080;
  padding:12px;
  background:#e9f0f3;
}

#body-content h6 {
  font-size: 22px;
  margin-top:20px;
  margin-bottom:10px;
}

#intro img {
  border: none;
  background: none;
  padding: 0;
  display: block;
  float: none;
  margin-right: 0px;
}

#intro h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid #e8e8e8;
  color: #6d6f71;
}

#sect1 {
  margin-bottom: 25px;
}

#sect2 p {
  font-size: 12.5px;
}

#sect2 ul {
  display: inline-block;
  float: left;
  max-width: 160px;
  margin: 0px;
  padding: 0px;
  margin-right: 15px;
}

#sect2 .last {
  display: inline-block;
  float: left;
  max-width: 130px;
  margin: 0px;
  padding: 0px;
}

#sect2 .icon-title {
  color: #08c;
  font-weight: normal;
  border: none;
}

.content {
  display: none;
}

.news {
  margin-bottom: 0px;
}

.list {
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

#guidance-for-information-users {
  background: #F9FCFD;
}

.imageBox {
  position: relative;
  top: 15px;
  width: 70px;
  line-height: 20px;
  float: right;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}

div.item {
  /* To correctly align image, regardless of content height: */
  vertical-align: top;
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  /* The width of the container also implies margin around the images. */
  width: 70px;
}

.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
  font-size: 11px;
  color: #08c;
}

#additional-resources {
  display: block;
  padding: 3px 20px;
  margin-bottom: 5px;
}

#foot {
  background: transparent;
  border: none;
  margin-top: 25px;
  padding: 0px 15px;
  box-shadow: none;
}

#resources_container {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

.foot {
  font-size: 10px;
}

small {
  font-size: 11px;
}

.normal {
font-weight:normal;
}

.bold {
font-weight:bold;
}

#guidance-heading {
color:#3a4047;
}

#guidance-heading-thin {
color:#3a4047;
font-weight:normal;
}

.guidance-pannel {
padding:0 25px;
}

.alt_background {
background:#F9FCFD;
color:#000;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 0px;
}

.transparent {
background-color:transparent !important;
}

/* Custom Swagger UI styles */


.swagger-ui-wrap h2 {
border-bottom: 0;
}

.collapseResource {
display:none;
}

.expandResource {
display:none;
}


@media print, screen and (max-width: 1250px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    border: 1px solid;
    border-color: #e7e7e7;
    padding-left: 0px;
    padding-right: 0px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }

  #full {
    margin-top: 20px;
  }

  #mob {
    display: none;
  }
}

@media print, screen and (max-width: 768px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }

  section {
    margin-top: 20px;
    border: 1px solid;
    border-color: #e7e7e7;
    padding-left: 0px;
    padding-right: 0px;
  }

  #full {
    display: none;
  }

  .imageBox {
    display: none;
  }

  #box-menu {
    display: none;
  }

  .hidden {
    display: none;
  }

  #mob {
    display: block;
    margin-right: 125px;
    margin-top: -5px;
    border: none;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0;
  }

  #mob h3 {
    margin-bottom: 5px;
  }

  #mob p {
    margin-left: 5px;
  }

  #mob:hover {
    background: none
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 0;
    margin: 0;
  }

  header ul {
    display: none;
  }

  section {
    border: 1px solid;
    border-color: #e7e7e7;
    padding-left: 0px;
    padding-right: 0px;
  }

  #full {
    display: none;
  }

  .hidden {
    display: none;
  }

  #mob {
    display: block;
    margin-right: 125px;
    margin-top: -5px;
    border: none;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0;
  }

  #mob h3 {
    margin: 0;
    margin-bottom: 5px;
  }

  #mob p {
    margin-left: 5px;
  }

  #mob:hover {
    background: none
  }

  .imageBox {
    display: none;
  }

  #box-menu {
    display: none;
  }

  #sect2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #e5e5e5;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .api-explorer .btn, .api-demo .btn {
    font-size: 6px;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
