.json {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#json-collapsible {
  margin-top: 10px;
}

#top-bar button {
  padding: 2px;
}
.taxonomy-search-form{
  float: right;
}

.ui-widget.ui-autocomplete {
  font: 16px/1.4 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}