<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <!--<link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/ita.css" >-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	  <script src="{{ site.baseurl }}/javascripts/pure.min.js"></script>
	  <script src="{{ site.baseurl }}/javascripts/articles.js"></script>
    <style>
.article .title {
  padding: 10px;
}
.article p {
    margin: 0;
}
    </style>
</head>
<body>
  <h1>Articles</h1>
  <div id="article-1" style="display: none" class="article">
    <dl>
      <dt>Title</dt>
      <dd class="title"></dd>
      <dt>Summary</dt>
      <dd>
        <div class="summary"></div>
      </dd>
      <dt>Country</dt>
      <dd class="country"></dd>
      <dt>Industry</dt>
      <dd class="industry"></dd>
    </dl>
  </div>
  <div id="article-2" style="display: none" class="article">
    <dl>
      <dt>Title</dt>
      <dd class="title"></dd>
      <dt>Summary</dt>
      <dd>
        <div class="summary"></div>
      </dd>
      <dt>Country</dt>
      <dd class="country"></dd>
      <dt>Industry</dt>
      <dd class="industry"></dd>
    </dl>
  </div>
  <div id="article-3" style="display: none" class="article">
    <dl>
      <dt>Title</dt>
      <dd class="title"></dd>
      <dt>Summary</dt>
      <dd>
        <div class="summary"></div>
      </dd>
      <dt>Country</dt>
      <dd class="country"></dd>
      <dt>Industry</dt>
      <dd class="industry"></dd>
    </dl>
  </div>
</body>
</html>
