{
    "swagger": "2.0",
    "info": {
        "title": "International Trade Administration API",
        "description": "This is an inventory of APIs available at the International Trade Administration",
        "version": "2.0.0"
    },
    "host": "api.govwizely.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v2",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/market_research_library/search": {
            "get": {
                "summary": "Market Research Library",
                "description": "U.S. businesses can use these reports to plan their market-entry the right way. The reports help them learn their productâ€™s potential in a given market and the best prospects for success.\n",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Returns office locations based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "expiration_date",
                        "in": "query",
                        "description": "Returns entries based on their expiration date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "Market Research Library"
                ],
                "responses": {
                    "200": {
                        "description": "An array of reports",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Report"
                            }
                        }
                    }
                }
            }
        },
        "/consolidated_screening_list/search": {
            "get": {
                "summary": "Consolidated Screening List API",
                "description": "The Consolidated Screening List API consolidates eleven export screening lists of the Departments of Commerce, State and the Treasury into a single data feed as an aid to industry in conducting electronic screens of potential parties to regulated transactions.",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "Searches only the lists specified by the Source Abbreviation.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Searches only parties whose country field matches the country code based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "description": "Searches against fields in the addresses array.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Searches against the name and alt_names fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "fuzzy_name",
                        "in": "query",
                        "description": "Fuzzy name matching enables users to query a name and get usable results without knowing the exact spelling of an entry. It works by expanding queries to include results that are fuzzily similar to the given term, where similarity is defined by distance - the number of changes required to get from one term to another.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Searches based on the type of the entry (e.g, Individual, Entity, Vessel).",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Returns entries based on their start date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Returns entries based on their end date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "issue_date",
                        "in": "query",
                        "description": "Returns entries based on the issue dates of the ids array.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "expiration_date",
                        "in": "query",
                        "description": "Returns entries based on the expiration dates of the ids array.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "Consolidated Screening List"
                ],
                "responses": {
                    "200": {
                        "description": "An array of lists",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/List"
                            }
                        }
                    }
                }
            }
        },
        "/trade_events/search": {
            "get": {
                "summary": "Trade Events",
                "description": "Provides information on industry conferences, webinars, lectures and trade missions organized by the U.S. Dept. of Commerce.\n",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "industries",
                        "in": "query",
                        "description": "Searches for specific controlled industry names.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Returns office locations based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "Searches only the events specified by the Source Abbreviation.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Returns events based on their start date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Returns events based on their end date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "Trade Events"
                ],
                "responses": {
                    "200": {
                        "description": "An array of products",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Event"
                            }
                        }
                    }
                }
            }
        },
        "/trade_leads/search": {
            "get": {
                "summary": "Trade Leads API",
                "description": "The Trade Leads API provides contract opportunities for U.S. businesses selling their products and services overseas. These leads come from a variety of sources and we continue to expand the number of leads available.",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the title, description, topic, tags, and procurement_organization fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "industries",
                        "in": "query",
                        "description": "Returns industry that the lead relates to.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Returns location of lead based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "Searches only the leads specified by the Source field.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "publish_date",
                        "in": "query",
                        "description": "Returns leads based on their publish date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Returns leads based on their end date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "publish_date_amended",
                        "in": "query",
                        "description": "Returns leads based on their amended publish date.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "Trade Leads"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Lead"
                        }
                    }
                }
            }
        },
        "/tariff_rates/search": {
            "get": {
                "summary": "Tariff Rates API",
                "description": "The Tariff Rates API provides data about each country with whom the United States has a Free Trade Agreement (FTA). When the U.S. enters into an FTA with a foreign government, it negotiates lower tariff rates with that government for a wide variety of products. A tariff is a tax that a company must pay a foreign country when shipping a product to that country. Typically the FTA tariffs rates decline over several years.",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "industry",
                        "in": "query",
                        "description": "Searches for specific controlled industry names.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Returns office locations based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "Tariff Rates"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Rate"
                        }
                    }
                }
            }
        },
        "/ita_faqs/search": {
            "get": {
                "summary": "FAQs on Exporting API",
                "description": "The Frequently Asked Questions (FAQs) API includes more than 300 commonly asked questions about exporting. The answers provided are from government experts that specialize in unique aspects of trade.",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "topics",
                        "in": "query",
                        "description": "Returns FAQs based on topic name.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "industry",
                        "in": "query",
                        "description": "Searches for specific controlled industry names.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Returns office locations based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "FAQs on Exporting"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/FAQ"
                        }
                    }
                }
            }
        },
        "/ita_office_locations/search": {
            "get": {
                "summary": "ITA Offices & Centers API",
                "description": "The ITA Offices & Centers API provides contact and address information for all of ITAâ€™s domestic and international export assistance centers. There are almost 200 ITA centers worldwide whose locations are managed by ITAâ€™s internal office management system.",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "Returns office locations based on city name.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Returns locations for export assistance centers located in a specific U.S. State or Dependent Area.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Returns office locations based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "ITA Offices & Centers"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Office"
                        }
                    }
                }
            }
        },
        "/trade_articles/search": {
            "get": {
                "summary": "Trade News & Articles API",
                "description": "The Trade News & Articles API provides in-depth news and articles written by Trade Specialists working in the Federal government. The authors include staff from ITA as well as other Trade Promotion Coordinating Committee (TPCC) agencies.",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "export_phases",
                        "in": "query",
                        "description": "Returns articles based on the export phase.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "industries",
                        "in": "query",
                        "description": "Returns articles based on industry name.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "countries",
                        "in": "query",
                        "description": "Returns office locations based on ISO alpha-2 country codes.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "Trade News & Articles"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Article"
                        }
                    }
                }
            }
        },
        "/ita_zipcode_to_post/search": {
            "get": {
                "summary": "Export Assistance Centers API",
                "description": "The Export Assistance Centers API provides ...",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "Searches for a match within the event_name and description fields.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "zip_codes",
                        "in": "query",
                        "description": "Returns zip code entries that match the specified zip codes. Enter muliple values separated by commas.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset parameter defines the offset from the first result you want to fetch.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "Export Assistance Centers"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Center"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Report": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique identifier assigned to the report."
                },
                "countries": {
                    "type": "string",
                    "description": "Country category(ies) assigned to the report."
                },
                "description": {
                    "type": "string",
                    "description": "Abstract of the report's content."
                },
                "expiration_date": {
                    "type": "string",
                    "description": "Date when the report is no longer valid."
                },
                "industries": {
                    "type": "string",
                    "description": "Industry categories assigned to the report."
                },
                "report_type": {
                    "type": "string",
                    "description": "The report type can either be CCG, Best Market Report, or Market Research Report."
                },
                "title": {
                    "type": "string",
                    "description": "Report title (default sort)."
                },
                "url": {
                    "type": "string",
                    "description": "URL for the report."
                }
            }
        },
        "List": {
            "properties": {
                "addresses": {
                    "type": "string",
                    "description": "Array of Entity's complete addresses."
                },
                "end_date": {
                    "type": "string",
                    "description": "The date on which the entity’s inclusion on the list will be lifted, wavied, or will have expired."
                },
                "federal_register_notice": {
                    "type": "string",
                    "description": "The official source of information about the parties on this list."
                },
                "name": {
                    "type": "string",
                    "description": "Entity’s name."
                },
                "remarks": {
                    "type": "string",
                    "description": "Additional remarks or notes regarding the company, entity, or person on the list."
                },
                "standard_order": {
                    "type": "string",
                    "description": "Whether or not (Y/N) the standard order applies to the Denied Party as defined by the Bureau of Industry and Security (BIS)."
                },
                "start_date": {
                    "type": "string",
                    "description": "The effective date for the entity to be included on the list as defined by the Federal Register Notice."
                },
                "source_list_url": {
                    "type": "string",
                    "description": "Location of the original list."
                },
                "source_information_url": {
                    "type": "string",
                    "description": "Information from the Source agency about the list."
                },
                "source": {
                    "type": "string",
                    "description": "Denied Persons List (DPL) - Bureau of Industry and Security."
                },
                "license_requirement": {
                    "type": "string",
                    "description": "The license requirement as determined by the Export Administration Regulations."
                },
                "license_policy": {
                    "type": "string",
                    "description": "The policy set forth in the Export Administration Regulations regarding denial."
                },
                "alt_names": {
                    "type": "string",
                    "description": "Alias names used by the entity."
                },
                "programs": {
                    "type": "string",
                    "description": "Agency program related to the entity on the list."
                },
                "citizenships": {
                    "type": "string",
                    "description": "Entity’s citizenships."
                },
                "dates_of_birth": {
                    "type": "string",
                    "description": "Entity’s date of birth."
                },
                "entity_number": {
                    "type": "string",
                    "description": "Unique id assigned by the originating list."
                },
                "nationalities": {
                    "type": "string",
                    "description": "Entity’s nationalities."
                },
                "places_of_birth": {
                    "type": "string",
                    "description": "Entity’s place of birth."
                }
            }
        },
        "Event": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "ID of the trade lead."
                },
                "event_name": {
                    "type": "string",
                    "description": "Name given for the event."
                },
                "description": {
                    "type": "string",
                    "description": "Text describing the event."
                },
                "registration_link": {
                    "type": "string",
                    "description": "URL for the event’s registration page."
                },
                "start_date": {
                    "type": "string",
                    "description": "Start date of the event."
                },
                "end_date": {
                    "type": "string",
                    "description": "The date the event will end."
                },
                "industries": {
                    "type": "string",
                    "description": "Industry categories assigned to the event."
                },
                "venues": {
                    "type": "string",
                    "description": "Venues array. Fields in italics."
                },
                "contacts": {
                    "type": "string",
                    "description": "Contacts array. Fields in italics."
                },
                "event_type": {
                    "type": "string",
                    "description": "The type of the event (ITA Values)."
                },
                "cost": {
                    "type": "string",
                    "description": "Cost of the event."
                },
                "url": {
                    "type": "string",
                    "description": "Link to the event’s web page."
                },
                "source": {
                    "type": "string",
                    "description": "State Department (DL)."
                },
                "registration_title": {
                    "type": "string",
                    "description": "Title of the registration URL."
                },
                "cost_currency": {
                    "type": "string",
                    "description": "The currency of the cost value."
                }
            }
        },
        "Lead": {
            "properties": {
                "country": {
                    "type": "string",
                    "description": "The country associated with the lead."
                },
                "title": {
                    "type": "string",
                    "description": "Title of the lead."
                },
                "reference_number": {
                    "type": "string",
                    "description": "The lead’s reference number."
                },
                "contract_number": {
                    "type": "string",
                    "description": "Contract number for the opportunity."
                },
                "publish_date": {
                    "type": "string",
                    "description": "Date lead was posted."
                },
                "end_date": {
                    "type": "string",
                    "description": "Closing date for the lead."
                },
                "publish_date_amended": {
                    "type": "string",
                    "description": "Amended publish date for the lead."
                },
                "status": {
                    "type": "string",
                    "description": "Status of the lead (note this API only shows open leads)."
                }
            }
        },
        "Rate": {
            "properties": {
                "source": {
                    "type": "string",
                    "description": "ID of the trade lead."
                },
                "lead_source": {
                    "type": "string",
                    "description": "Source of the trade lead, typically an organization."
                },
                "country": {
                    "type": "string",
                    "description": "The country associated with the lead."
                },
                "specific_location": {
                    "type": "string",
                    "description": "Location of the opportunity."
                }
            }
        },
        "FAQ": {
            "properties": {
                "source": {
                    "type": "string",
                    "description": "ID of the trade lead."
                },
                "lead_source": {
                    "type": "string",
                    "description": "Source of the trade lead, typically an organization."
                },
                "country": {
                    "type": "string",
                    "description": "The country associated with the lead."
                },
                "specific_location": {
                    "type": "string",
                    "description": "Location of the opportunity."
                }
            }
        },
        "Office": {
            "properties": {
                "source": {
                    "type": "string",
                    "description": "ID of the trade lead."
                },
                "lead_source": {
                    "type": "string",
                    "description": "Source of the trade lead, typically an organization."
                },
                "country": {
                    "type": "string",
                    "description": "The country associated with the lead."
                },
                "specific_location": {
                    "type": "string",
                    "description": "Location of the opportunity."
                }
            }
        },
        "Article": {
            "properties": {
                "source": {
                    "type": "string",
                    "description": "ID of the trade lead."
                },
                "lead_source": {
                    "type": "string",
                    "description": "Source of the trade lead, typically an organization."
                },
                "country": {
                    "type": "string",
                    "description": "The country associated with the lead."
                },
                "specific_location": {
                    "type": "string",
                    "description": "Location of the opportunity."
                }
            }
        },
        "Center": {
            "properties": {
                "source": {
                    "type": "string",
                    "description": "ID of the trade lead."
                },
                "lead_source": {
                    "type": "string",
                    "description": "Source of the trade lead, typically an organization."
                },
                "country": {
                    "type": "string",
                    "description": "The country associated with the lead."
                },
                "specific_location": {
                    "type": "string",
                    "description": "Location of the opportunity."
                }
            }
        }
    }
}